:root {
    --primary-color: rgb(152, 152, 170);
    --secondary-color: rgb(37, 37, 125);
    }

body {
    background-color: rgb(9, 9, 60);
    background-image: url(https://images.unsplash.com/photo-1508233620467-f79f1e317a05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: var(--secondary-color);
}

h2 {
    margin: 0 0 5px;
    color: var(--secondary-color);
    font-size: 34px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--primary-color);
}

.container{
    max-width: 450px;
    margin: 60px auto;
    padding: 30px;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 10px rgb(14, 14, 93);
    border-radius: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px 0;
    border-bottom: 1px dashed black;
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
    text-align: left;
}

.time {
    font-size: 36px;
    font-weight: bolder;
}

.time small {
    font-size: 18px;
    vertical-align: text-top;
}

footer {
    color: lightgrey;
    font-size: 12px;
}

a {
    color: white;
    font-size: 12px;
}